Repository Galdaer/portfolio: changes, and which Codecov flags are due for each by the changed paths.
All: shell-scripts, healthcare-ai

feat: Enhance model and tool registries with performance metrics and dynamic plugin registration
  core/tools/__init__.py
  docs/PHASE_0.md
  docs/PHASE_1.md
  docs/PHASE_2.md
  docs/PHASE_3.md
Due: healthcare-ai

feat: Enhance PII redaction in logging and add transcription plugin registration methods
  agents/__init__.py
  core/tools/__init__.py
Due: healthcare-ai

feat: Add configuration files to user service directory in .gitignore
  .gitignore
Due: none

feat: Update configuration files to include network_mode for user services
  .gitignore
  services/user/config-web-ui/config-web-ui.conf
  services/user/grafana/grafana.conf
Due: none

feat: Add Docker network and static IP assignment documentation for core services
  infrastructure/docker/networks.md
  services/user/config-web-ui/config-web-ui.conf
  services/user/grafana/grafana.conf
  services/user/n8n/n8n.conf
  services/user/scispacy/scispacy.conf
  services/user/traefik/traefik.conf
  services/user/whisper/whisper.conf
Due: none

document: Update service configuration to use network_mode and enhance healthcare-MCP integration
  docs/PHASE_1.md
Due: none

format change
  docs/PHASE_0.md
Due: none

refactor: Clean up imports and remove unused code in test_foundation.py
  test/python/test_foundation.py
Due: none

refactor: Update Field definitions to use json_schema_extra for environment variables
  config/app.py
Due: none

feat: Add uninstall target to Makefile and enhance systemd verification in script
  Makefile
  scripts/systemd-verify.sh
Due: shell-scripts

fix: Update OnUnitActiveSec to 1 day for DuckDNS timer to reduce frequency of updates
  systemd/duckdns-update.timer
Due: none

fix: Set static_ip to a fixed value instead of using variable in wireguard configuration
  services/user/wireguard/wireguard.conf
Due: none

fix: Update default terminal profile to bash in VSCode settings and pin pip version in requirements
  .vscode/settings.json
  requirements.txt
Due: none

feat: Enhance installation process and auto-generate entrypoint.sh for Python services
  Makefile
  scripts/bootstrap.sh
  scripts/universal-service-runner.sh
Due: shell-scripts

fix: Correct symlink target for Intelluxe stack in installation process
  Makefile
Due: none

feat: Enhance installation process and add permission fixing commands for Intelluxe services
  Makefile
  scripts/fix-systemd-units.sh
  scripts/systemd-verify.sh
  systemd/auto-repair.service
  systemd/auto-repair.timer
  systemd/auto-upgrade.service
  systemd/bootstrap.service
  systemd/diagnostic-pusher.service
  systemd/diagnostics.service
  systemd/diagnostics.timer
  systemd/duckdns-update.service
  systemd/duckdns-update.timer
  systemd/grafana-provision.service
  systemd/netns.service
  systemd/reset.service
  systemd/resource-pusher.service
  systemd/teardown.service
  systemd/wg.service
  systemd/wg0-diagnostics.service
  systemd/wg0-diagnostics.timer
Due: shell-scripts

feat: Update installation and management scripts for Intelluxe services; remove DuckDNS updater
  Makefile
  scripts/diagnostics.sh
  scripts/duckdns-update.sh
  scripts/fix-systemd-units.sh
  scripts/systemd-summary.sh
  scripts/systemd-verify.sh
  systemd/config-web-ui.service
  systemd/duckdns-update.service
  systemd/duckdns-update.timer
  test/duckdns-service.bats
Due: shell-scripts

feat: Update project instructions with detailed phase implementation and service management guidelines
  .github/copilot-instructions.md
  .vscode/settings.json
Due: none

feat: Refactor systemd service and timer files to use intelluxe prefix for consistency and clarity
  .github/copilot-instructions.md
  .vscode/settings.json
  Makefile
  scripts/systemd-verify.sh
  systemd/auto-repair.service
  systemd/auto-repair.timer
  systemd/auto-upgrade.timer
  systemd/diagnostic-pusher.timer
  systemd/diagnostics.timer
  systemd/resource-pusher.timer
  systemd/wg.service
  systemd/wg0-diagnostics.timer
Due: shell-scripts

feat: Update grafana-provision.service to use BindsTo for conditional execution and enhance ExecStart with pre-check for service status
  scripts/systemd-verify.sh
  systemd/grafana-provision.service
Due: shell-scripts

feat: Replace direct docker commands with run wrapper for improved error handling in bootstrap script
  scripts/bootstrap.sh
Due: shell-scripts

feat: Enhance bootstrap and library scripts with dry-run support for safer execution
  scripts/bootstrap.sh
  scripts/lib.sh
Due: shell-scripts

feat: Update Makefile for healthcare AI infrastructure with improved messaging and organization
  Makefile
Due: none

feat: Refactor Makefile for improved readability and consistency in command formatting
  Makefile
Due: none

feat: Implement rolling restarts and dependency ordering in bootstrap script for improved service management
  .github/copilot-instructions.md
  .vscode/settings.json
  scripts/bootstrap.sh
  scripts/universal-service-runner.sh
Due: shell-scripts

Refactor systemd services and timers for improved boot sequence and diagnostics
  .gitignore
  boot.txt
  systemd/bootstrap.service
  systemd/bootstrap.timer
  systemd/diagnostics.service
  systemd/diagnostics.timer
  systemd/intelluxe-post-gui.target
Due: none

Refactor code structure for improved readability and maintainability
  .gitignore
  boot.txt
  dmesg.txt
Due: none

feat: Update diagnostic scripts to log metrics to files instead of InfluxDB and refine requirements
  scripts/diagnostic-pusher.sh
  scripts/diagnostics.sh
  scripts/setup-environment.sh
Due: shell-scripts

feat: Enhance auto-repair and diagnostics scripts with improved logging and ownership management
  scripts/auto-repair.sh
  scripts/diagnostics.sh
  scripts/setup-environment.sh
Due: shell-scripts

feat: Update Makefile and scripts for improved logging and configuration management
  Makefile
  scripts/auto-upgrade.sh
  scripts/bootstrap.sh
  scripts/diagnostic-pusher.sh
  scripts/netns-setup.sh
  scripts/setup-environment.sh
  scripts/systemd-summary.sh
  scripts/teardown.sh
  systemd/auto-upgrade.service
  systemd/bootstrap.service
Due: shell-scripts

feat: Enhance documentation with path management, directory structure, and systemd service management guidelines
  .github/copilot-instructions.md
  .gitignore
  .vscode/settings.json
  docs/PRODUCTION_SECURITY_HARDENING.md
Due: none

feat: Update .gitignore to include additional log files and ensure proper exclusions
  .gitignore
  docs/PRODUCTION_AUTO_UPGRADE.md
Due: none

feat: Update permissions for development environment and enhance Docker argument mapping
  scripts/bootstrap.sh
  scripts/lib.sh
  scripts/universal-service-runner.sh
Due: shell-scripts

feat: Enhance service management with health checks and rolling restarts for improved reliability
  scripts/bootstrap.sh
  services/user/traefik/traefik.conf
  services/user/whisper/whisper.conf
  services/user/wireguard/wireguard.conf
Due: shell-scripts

feat: Add NVIDIA GPU support to setup script and enhance Docker command handling
  scripts/setup-environment.sh
  scripts/universal-service-runner.sh
  services/user/wyoming-whisper/wyoming-whisper.conf
  systemd/netns.service
Due: shell-scripts

feat: Update .gitignore to include wyoming-whisper.conf and modify command in configuration for optimized performance
  .gitignore
  services/user/wyoming-whisper/wyoming-whisper.conf
Due: none

feat: Update Whisper configuration for GPU acceleration and enhance health checks
  services/user/whisper/whisper.conf
  services/user/wyoming-whisper/wyoming-whisper.conf
Due: none

feat: Update Whisper configuration for improved model performance and resource allocation
  services/user/wyoming-whisper/wyoming-whisper.conf
Due: none

Path conditions:
  shell-scripts: any of: scripts/
  healthcare-ai: any of: agents/, core/
