Repository Galdaer/portfolio: changes, and which Codecov flags are due for each by the changed paths.
All: shell-scripts, healthcare-ai

.codecov.yml:

# Codecov configuration for Intelluxe AI healthcare platform
# See: https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto

  ignore:
    - "test/**/*"
    - "docs/**/*"
    - "coverage/**/*"
    - "logs/**/*"
    - "data/vector_stores/**/*"
    - "data/training/user_samples/**/*"
    - "services/user/**/*"
    - "*.md"
    - "*.txt"
    - "Dockerfile*"
    - "Makefile"
    - ".env*"
    - "*.conf"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

github_checks:
  annotations: true

flags:
  shell-scripts:
    paths:
      - scripts/
    carryforward: false
  healthcare-ai:
    paths:
      - agents/
      - core/
    carryforward: false

Add integrated healthcare evaluation system with enhanced validation
  scripts/integrated_healthcare_evaluation.py
Due: shell-scripts

Remove integrated healthcare evaluation script due to refactoring and restructuring of evaluation framework.
  scripts/enhanced_healthcare_evaluation.py
  scripts/healthcare_deepeval.py
  scripts/integrated_healthcare_evaluation.py
Due: shell-scripts

Fix CI workflow: generate synthetic data in CI and use enhanced evaluation system
  .github/workflows/healthcare-ai-validation.yml
Due: none

Update .gitignore to include synthetic dataset directory structure
  .gitignore
Due: none

Refactor CI workflow: streamline dependency installation and include static analysis in validation summary
  .github/workflows/healthcare-ai-validation.yml
Due: none

Enhance type annotations and MyPy checks in healthcare AI codebase
  .github/workflows/healthcare-ai-validation.yml
  core/medical/enhanced_query_engine.py
  core/reasoning/medical_reasoning_enhanced.py
  requirements-ci.txt
  requirements-self-hosted.txt
  requirements.in
  requirements.txt
Due: healthcare-ai

Refactor Python linting and type checking tools
  .dockerignore
  .github/workflows/healthcare-ai-validation.yml
  Dockerfile.test
  Makefile
  mypy.ini
  pyproject.toml
  requirements-ci.txt
  requirements-self-hosted.txt
  requirements.in
  requirements.txt
  scripts/generate-requirements.py
Due: shell-scripts

Remove unused asyncio import from medical reasoning engine
  core/reasoning/medical_reasoning_enhanced.py
Due: healthcare-ai

Update linting commands to use Mypy for type checking and add mypy.ini configuration utilizing all CPU threads
  Makefile
  mypy.ini
Due: none

Add fast development linting for core healthcare modules and enhance MyPy configuration
  Makefile
  mypy.ini
  requirements-ci.txt
  requirements-self-hosted.txt
  requirements.in
  requirements.txt
Due: none

Add VSCode tasks for linting and type checking; enhance type hints in medical reasoning classes; update CI and self-hosted requirements; improve healthcare authentication class initialization.
  .gitignore
  .vscode/keybindings.json
  .vscode/settings.json
  .vscode/tasks.json
  core/reasoning/medical_reasoning_enhanced.py
  requirements-ci.txt
  requirements-self-hosted.txt
  requirements.in
  requirements.txt
  src/security/healthcare_auth.py
Due: healthcare-ai

Add pre-commit hook for validation and auto-formatting of staged files
  .githooks/pre-commit.disabled
Due: none

Enhance MyPy configuration with incremental caching and add type stubs for healthcare compliance; streamline VSCode settings for improved Python analysis and auto-save functionality.
  .github/copilot-instructions.md
  .vscode/settings.json
Due: none

Enhance MyPy error resolution documentation and workflows across multiple files
  .github/copilot-instructions.md
  .github/instructions/languages/python.instructions.md
  .github/instructions/tasks/debugging.instructions.md
  .github/workflows/healthcare-ai-validation.yml
  .github/workflows/remote-agent-feedback-loop.yml
  .pre-commit-config.yaml
  TODO.md
  bandit.yml
Due: none

Enhance Makefile to install formatting tools conditionally based on CI environment
  Makefile
Due: none

Refine healthcare type safety guidelines and MyPy error resolution strategies across documentation and configuration files
  .github/copilot-instructions.md
  .github/instructions/languages/python.instructions.md
  .github/instructions/tasks/debugging.instructions.md
  .github/workflows/healthcare-ai-validation.yml
  mypy.ini
Due: none

Refactor firewall allowlist entries and enhance Makefile for improved dependency installation and updates
  .github/copilot-firewall-allowlist.txt
  Makefile
Due: none

Add clean-cache target to Makefile for package manager cache cleanup
  Makefile
Due: none

Add additional exclusions to Ruff configuration for improved linting
  pyproject.toml
Due: none

Refactor type hints to use built-in types for consistency across multiple files
  agents/research_assistant/search_assistant.py
  config/__init__.py
  core/medical/enhanced_query_engine.py
  core/medical/medical_response_validator.py
  core/orchestration/medical_workflow_state.py
  main.py
  scripts/config_web_ui.py
  scripts/docker-security-check.py
  scripts/enhanced_healthcare_evaluation.py
  scripts/generate-requirements.py
  scripts/generate_synthetic_healthcare_data.py
  scripts/healthcare-compliance-check.py
  scripts/hipaa-config-validation.py
  scripts/medical-terminology-check.py
  services/user/scispacy/app/scispacy_server.py
  src/healthcare_mcp/audit_logger.py
  src/healthcare_mcp/phi_detection.py
  src/healthcare_mcp/secure_mcp_server.py
  src/security/database_factory.py
  src/security/encryption_manager.py
  src/security/healthcare_security.py
  src/security/rbac_foundation.py
  test/python/test_config_web_ui.py
  test/python/test_foundation.py
  tests/healthcare_evaluation/synthetic_data_generator.py
Due: shell-scripts, healthcare-ai

Update settings.json to refine file exclusion patterns and remove unused diagnostic severity overrides
  .vscode/settings.json
Due: none

Refactor environment validation logic for improved testability and clarity
  scripts/bootstrap.sh
Due: shell-scripts

Add comprehensive pull request and shell function refactoring instructions for improved code quality and compliance
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  .github/instructions/tasks/shell-refactoring.instructions.md
  .shellcheckrc
  Makefile
  mypy.ini
Due: none

Optimize regex pattern compilation for performance in multiple scripts
  scripts/config_web_ui.py
  scripts/enhanced_healthcare_evaluation.py
  scripts/generate-requirements.py
  src/security/encryption_manager.py
  src/security/healthcare_security.py
  src/security/patient_assignment_db.py
  src/security/rbac_foundation.py
  test/e2e/Dockerfile.optimized
Due: shell-scripts

Refactor CI and self-hosted requirements to optimize package exclusions and improve clarity
  .github/workflows/healthcare-ai-validation.yml
  requirements-ci.txt
  requirements-self-hosted.txt
  scripts/generate-requirements.py
Due: shell-scripts

moved feedback loop to future workflows to avoid spam
  .github/future-workflows/remote-agent-feedback-loop.yml
Due: none

feat: Implement runtime-first PHI security model and database-backed testing
  .github/copilot-instructions.md
  .github/instructions/tasks/debugging.instructions.md
  .github/instructions/tasks/security-review.instructions.md
  .github/instructions/tasks/testing.instructions.md
  .github/workflows/healthcare-ai-validation.yml
  .vscode/settings.json
  docs/CODING_AGENT_TASK_RUNTIME_PHI.md
  docs/RUNTIME_PHI_SECURITY.md
  scripts/check-runtime-phi-leakage.sh
  tests/database_test_utils.py
  tests/example_test_migration.py
  tests/migration_guide.py
Due: shell-scripts

refactor: Move Response import to maintain consistency in import structure
  scripts/config_web_ui.py
Due: shell-scripts

feat: Implement healthcare infrastructure components
  agents/document_processor/__init__.py
  agents/document_processor/document_processor.py
  agents/document_processor/router.py
  agents/intake/__init__.py
  agents/intake/intake_agent.py
  agents/intake/router.py
  agents/research_assistant/__init__.py
  agents/research_assistant/router.py
  core/dependencies.py
  core/infrastructure/auth_middleware.py
  core/infrastructure/background_tasks.py
  core/infrastructure/caching.py
  core/infrastructure/health_monitoring.py
  docs/MISSING_INFRASTRUCTURE.md
  main.py
  scripts/enhanced_healthcare_evaluation.py
Due: shell-scripts, healthcare-ai

feat: Enhance healthcare infrastructure with configuration management, authentication, and detailed documentation
  .github/copilot-instructions.md
  config/healthcare_settings.yml
  core/infrastructure/authentication.py
  core/infrastructure/config_manager.py
  docs/MISSING_INFRASTRUCTURE.md
  main.py
Due: healthcare-ai

feat: Complete healthcare infrastructure implementation and testing framework
  .github/copilot-instructions.md
  core/infrastructure/rate_limiting.py
  core/infrastructure/streaming.py
  docs/INFRASTRUCTURE_COMPLETION_SUMMARY.md
  docs/MISSING_INFRASTRUCTURE.md
  main.py
  tests/conftest.py
  tests/healthcare_integration_tests.py
Due: healthcare-ai

feat: Update healthcare infrastructure documentation and validation scripts; remove obsolete summaries
  .github/instructions/mcp-development.instructions.md
  .github/workflows/healthcare-ai-validation.yml
  .gitignore
  docs/INFRASTRUCTURE_COMPLETION_SUMMARY.md
  docs/MISSING_INFRASTRUCTURE.md
  scripts/check-runtime-phi-leakage.sh
Due: shell-scripts

feat: Improve environment detection and enhance PHI exposure scripts; add healthcare AI evaluation script
  scripts/bootstrap.sh
  scripts/check-phi-exposure.sh
  scripts/check-runtime-phi-leakage.sh
  scripts/healthcare_deepeval.py
Due: shell-scripts

feat: Refactor healthcare AI validation workflow; streamline triggers and remove obsolete remote agent feedback loop
  .github/future-workflows/remote-agent-feedback-loop.yml
  .github/workflows/healthcare-ai-validation.yml
  .github/workflows/remote-agent-feedback-loop.yml
Due: none

feat: Refactor DeepEval import statements and streamline model configuration in healthcare AI evaluation script
  scripts/healthcare_deepeval.py
Due: shell-scripts

feat: Add devcontainer configuration for Intelluxe Healthcare AI environment
  .devcontainer/devcontainer.json
  .gitignore
Due: none

Add coding agent setup script for improved automation
  scripts/coding-agent-setup.sh
Due: shell-scripts

Refactor healthcare AI evaluation script: streamline imports, enhance environment variable setup, and improve metric evaluation with comprehensive healthcare-specific analysis.
  scripts/healthcare_deepeval.py
Due: shell-scripts

Enhance healthcare logging framework: implement comprehensive logging and PHI monitoring, add logging instructions, and integrate logging verification in tests.
  .github/copilot-instructions.md
  .github/instructions/README.md
  .github/instructions/domains/healthcare.instructions.md
  .github/instructions/tasks/debugging.instructions.md
  .github/instructions/tasks/healthcare-logging.instructions.md
  .github/instructions/tasks/testing.instructions.md
Due: none
