Repository Galdaer/portfolio: changes, and which Codecov flags are due for each by the changed paths.
All: shell-scripts, healthcare-ai

Update .gitignore to include logs directory and add healthcare evaluation log file
  .gitignore
  logs/healthcare_deepeval.log
Due: none

Enhance HIPAA Configuration Validation and Remove Legacy Linting Script
  scripts/check-phi-exposure.sh
  scripts/healthcare-compliance-check.py
  scripts/hipaa-config-validation.py
  scripts/lint-all.sh
  src/healthcare_mcp/phi_detection.py
Due: shell-scripts

Refactor dependency installation process: streamline CI and development modes, remove self-hosted requirements file, and update requirements generation script.
  Makefile
  requirements-self-hosted.txt
  scripts/coding-agent-setup.sh
  scripts/generate-requirements.py
Due: shell-scripts

Add comprehensive database development instructions for healthcare systems and medical disclaimer templates
  .github/copilot-instructions.md
  .github/instructions/domains/compliance.instructions.md
  .github/instructions/languages/sql.instructions.md
  .github/instructions/tasks/api-development.instructions.md
  .github/instructions/tasks/configuration-management.instructions.md
  .github/instructions/tasks/database-development.instructions.md
  docs/MEDICAL_DISCLAIMER_TEMPLATES.md
Due: none

feat(transcription): Implement Healthcare Transcription Agent with audio transcription and clinical note generation capabilities
  agents/billing_helper/__init__.py
  agents/billing_helper/ai-instructions.md
  agents/billing_helper/billing_agent.py
  agents/billing_helper/router.py
  agents/document_processor/document_processor.py
  agents/insurance/__init__.py
  agents/insurance/ai-instructions.md
  agents/insurance/insurance_agent.py
  agents/insurance/router.py
  agents/research_assistant/clinical_research_agent.py
  agents/scheduling_optimizer/__init__.py
  agents/scheduling_optimizer/ai-instructions.md
  agents/scheduling_optimizer/router.py
  agents/scheduling_optimizer/scheduling_agent.py
  agents/transcription/__init__.py
  agents/transcription/ai-instructions.md
  agents/transcription/router.py
  agents/transcription/transcription_agent.py
  core/medical/enhanced_query_engine.py
  core/medical/medical_response_validator.py
  core/reasoning/medical_reasoning_enhanced.py
Due: healthcare-ai

updated to add all mcp server functions needed
  mcps/healthcare/src/index.ts
  mcps/healthcare/src/server/HealthcareServer.ts
  mcps/healthcare/src/server/connectors/fhir/FhirClient.ts
  mcps/healthcare/src/server/connectors/medical/ClinicalTrials.ts
  mcps/healthcare/src/server/connectors/medical/FDA.ts
  mcps/healthcare/src/server/connectors/medical/PubMed.ts
  mcps/healthcare/src/server/handlers/ToolHandler.ts
  mcps/healthcare/src/server/utils/Cache.ts
Due: none

updated to fix errors
  mcps/healthcare/src/server/connectors/medical/PubMed.ts
Due: none

Your API endpoints are now updated to expose all new HealthcareServer features, and your test_healthcare_mcp.sh script includes tests for each new function:
  mcps/healthcare/src/index.ts
  mcps/healthcare/src/server/HealthcareServer.ts
  mcps/healthcare/test_healthcare_mcp.sh
Due: none

This is the output of the test script run on 2025-08-04 at 13:40.
  mcps/healthcare/test_script_output 20250804-13:40.txt
Due: none

More updates to add the ollama connection to the mcp server
  .env
  Makefile
  mcps/healthcare/src/index.ts
  mcps/healthcare/src/server/HealthcareServer.ts
  mcps/healthcare/src/server/handlers/OllamaHandler.ts
Due: none

Updating documentation to match the work done to create the mcp server and integrate with ollama
  .github/instructions/README.md
  .github/instructions/domains/healthcare.instructions.md
  .github/instructions/mcp-development.instructions.md
  .github/instructions/tasks/testing.instructions.md
Due: none

Update Makefile
  Makefile
Due: none

Update file permissions for scripts and modify Redis static IP configuration
  scripts/healthcare_deepeval.py
  scripts/run_integration_tests.py
  scripts/test_ollama_documentation.sh
  services/user/redis/redis.conf
Due: shell-scripts

Refactor ToolHandler: reorganize imports and streamline handleCall logic for non-auth tools
  mcps/healthcare/src/server/handlers/ToolHandler.ts
  services/user/ollama-webui/ollama-webui.conf
Due: none

just sending the test output
  mcps/healthcare/test_script_output 20250804-13:40.txt
Due: none

new test log
  mcps/healthcare/test_script_output 20250804-1340.txt
Due: none

log file update
  mcps/healthcare/test_script_output 20250804-13:40.txt
Due: none

Update Ollama configuration and database connection settings
  .github/instructions/tasks/testing.instructions.md
  .vscode/settings.json
  core/dependencies.py
  docs/DEPLOYMENT_GUIDE.md
  mcps/healthcare/Dockerfile
  mcps/healthcare/package.json
  mcps/healthcare/src/index - before server updates.ts
  mcps/healthcare/src/index.ts
  mcps/healthcare/src/openapi.json
  mcps/healthcare/src/server/HealthcareServer.ts
  mcps/healthcare/src/server/connectors/medical/PubMed.ts
  mcps/healthcare/test_script_output 20250804-13:40.txt
  mcps/healthcare/test_script_output 20250804-1340.txt
  services/user/ollama/ollama.conf
  tests/database_test_utils.py
Due: healthcare-ai

Add OpenAI dependency and enhance requirements generation script
  mcps/healthcare/package.json
  mcps/healthcare/src/index.ts
  scripts/generate-requirements.py
Due: shell-scripts

Update requirements files to reflect new package versions and dependencies
  requirements-ci.txt
  requirements.in
  requirements.txt
Due: none

feat: Add comprehensive Future Development TODO for post-alignment implementation
  .github/copilot-instructions.md
  .github/instructions/ai/embedding-optimization-healthcare.instructions.md
  .github/instructions/ai/ml-operations-healthcare.instructions.md
  .github/instructions/ai/prompt-engineering-clinical.instructions.md
  .github/instructions/data/healthcare-data-pipelines.instructions.md
  .github/instructions/domains/healthcare.instructions.md
  .github/instructions/domains/insurance-calculations.instructions.md
  .github/instructions/integration/fhir-api-development.instructions.md
  .github/instructions/mcp-development.instructions.md
  .github/instructions/patterns/medical-reasoning.instructions.md
  .github/instructions/security/zero-trust-healthcare.instructions.md
  .github/instructions/shared/healthcare-base.instructions.md
  .github/instructions/tasks/database-development.instructions.md
  .github/instructions/tasks/performance.instructions.md
  .github/instructions/workflows/agent-coordination.instructions.md
  .github/instructions/workflows/real-time-clinical.instructions.md
  .vscode/settings.json
  CODING_AGENT_ALIGNMENT_PROMPT.md
  FUTURE_TODO.md
  TODO.md
  agents/intake/ai-instructions.md
  config/ai-instructions.md
  core/ai-instructions.md
  scripts/ai-instructions.md
Due: shell-scripts, healthcare-ai

refactor: Remove obsolete HealthcareServer implementation and related files
  .copilotignore
  CODING_AGENT_ALIGNMENT_PROMPT.md
  FUTURE_TODO.md
  TODO.md
  mcps/healthcare/src/server/HealthcareServer - before server updates.ts
Due: none

Condensed instructions and extended patterns
  .github/instructions/data/healthcare-data-pipelines.instructions.md
  .github/instructions/domains/compliance.instructions.md
  .github/instructions/domains/healthcare.instructions.md
  .github/instructions/integration/fhir-api-development.instructions.md
  .github/instructions/languages/python.instructions.md
  .github/instructions/mcp-development.instructions.md
  .github/instructions/security/zero-trust-healthcare.instructions.md
  .github/instructions/tasks/api-development.instructions.md
  .github/instructions/tasks/configuration-management.instructions.md
  .github/instructions/tasks/database-development.instructions.md
  .github/instructions/tasks/documentation.instructions.md
  .github/instructions/tasks/performance.instructions.md
  .github/instructions/tasks/testing.instructions.md
Due: none

refactor: streamline Makefile commands and enhance dependency management
  Makefile
  scripts/generate-requirements.py
Due: shell-scripts

refactor: clarify Database-First architecture and enhance error handling patterns
  .github/copilot-instructions.md
  .github/instructions/tasks/database-development.instructions.md
Due: none

refactor: enhance synthetic data generation patterns and improve database connection management
  .github/instructions/data/healthcare-data-pipelines.instructions.md
  .github/instructions/domains/insurance-calculations.instructions.md
  .github/instructions/tasks/database-development.instructions.md
Due: none

moved feeback loop back to future-workflows
  .github/future-workflows/remote-agent-feedback-loop.yml
Due: none

chore: remove test configuration files for Healthcare MCP Server
  mcps/healthcare/.env
  mcps/healthcare/.env.test
Due: none

refactor: enhance healthcare MCP integration patterns and error handling
  .github/copilot-instructions.md
  .github/instructions/mcp-development.instructions.md
  .github/instructions/tasks/api-development.instructions.md
Due: none

feat: implement Healthcare MCP authentication proxy and integration with Open WebUI
  docs/TROUBLESHOOTING.md
  infrastructure/docker/networks.md
  mcps/healthcare/Dockerfile
  mcps/healthcare/auth_proxy.py
  mcps/healthcare/auth_proxy_requirements.txt
  mcps/healthcare/start_services.sh
  scripts/healthcare_mcp_bridge.py
  services/user/grafana/grafana.conf
  services/user/healthcare-mcp/healthcare-mcp.conf
  services/user/ollama-webui/ollama-webui.conf
Due: shell-scripts

feat: implement Healthcare MCP authentication proxy and integration with Open WebUI
  docs/TROUBLESHOOTING.md
  infrastructure/docker/networks.md
  mcps/healthcare/Dockerfile
  mcps/healthcare/auth_proxy.py
  mcps/healthcare/auth_proxy_direct.py
  mcps/healthcare/auth_proxy_dynamic.py
  mcps/healthcare/auth_proxy_requirements.txt
  mcps/healthcare/start_services.sh
  scripts/healthcare_mcp_bridge.py
  services/user/grafana/grafana.conf
  services/user/healthcare-mcp/healthcare-mcp.conf
  services/user/ollama-webui/ollama-webui.conf
Due: shell-scripts

feat: enhance healthcare financial safety and type safety patterns based on PR #31 lessons
  .github/instructions/domains/healthcare.instructions.md
  .github/instructions/languages/python.instructions.md
  .github/instructions/tasks/code-review.instructions.md
  .github/instructions/tasks/refactoring.instructions.md
  agents/__init__.py
  domains/insurance_calculations.py
Due: healthcare-ai

docs: add GitHub Copilot review comment fixes summary
  GITHUB_COPILOT_FIXES_SUMMARY.md
Due: none

refactor: update API keys and integrate rate limiting for FDA API
  .env
  mcps/healthcare/auth_proxy.py
  mcps/healthcare/src/server/HealthcareServer.ts
  mcps/healthcare/src/server/connectors/medical/ClinicalTrials.ts
  mcps/healthcare/src/server/connectors/medical/FDA.ts
Due: none

chore: remove GITHUB_COPILOT_FIXES_SUMMARY.md as fixes are now implemented
  GITHUB_COPILOT_FIXES_SUMMARY.md
Due: none

docs: add Healthcare MCP Auth Proxy development patterns and type safety guidelines
  .github/instructions/mcp-development.instructions.md
  .github/instructions/patterns/healthcare-mcp-auth-proxy.instructions.md
Due: none

feat: Implement FDA data parser and API integration
  mcps/healthcare/src/server/connectors/medical/ClinicalTrials.ts
  mcps/healthcare/src/server/connectors/medical/FDA.ts
  mcps/healthcare/src/server/connectors/medical/PubMed.ts
  services/user/medical-mirrors/Dockerfile
  services/user/medical-mirrors/README.md
  services/user/medical-mirrors/init.sh
  services/user/medical-mirrors/medical-mirrors.conf
  services/user/medical-mirrors/migrations/001_initial_schema.py
  services/user/medical-mirrors/requirements.txt
  services/user/medical-mirrors/src/clinicaltrials/api.py
  services/user/medical-mirrors/src/clinicaltrials/downloader.py
  services/user/medical-mirrors/src/clinicaltrials/parser.py
  services/user/medical-mirrors/src/config.py
  services/user/medical-mirrors/src/database.py
  services/user/medical-mirrors/src/fda/api.py
  services/user/medical-mirrors/src/fda/downloader.py
  services/user/medical-mirrors/src/fda/parser.py
  services/user/medical-mirrors/src/main.py
  services/user/medical-mirrors/src/pubmed/api.py
  services/user/medical-mirrors/src/pubmed/downloader.py
  services/user/medical-mirrors/src/pubmed/parser.py
  services/user/medical-mirrors/update-scripts/update_all.sh
  services/user/medical-mirrors/update-scripts/update_fda.sh
  services/user/medical-mirrors/update-scripts/update_pubmed.sh
  services/user/medical-mirrors/update-scripts/update_trials.sh
Due: none

Refactor code for improved readability and consistency
  agents/billing_helper/billing_agent.py
  core/security/chat_log_manager.py
  core/security/whisperlive_security_bridge.py
  mcps/healthcare/auth_proxy.py
  services/user/medical-mirrors/migrations/001_initial_schema.py
  services/user/medical-mirrors/src/clinicaltrials/api.py
  services/user/medical-mirrors/src/clinicaltrials/downloader.py
  services/user/medical-mirrors/src/clinicaltrials/parser.py
  services/user/medical-mirrors/src/config.py
  services/user/medical-mirrors/src/database.py
  services/user/medical-mirrors/src/fda/api.py
  services/user/medical-mirrors/src/fda/downloader.py
  services/user/medical-mirrors/src/fda/parser.py
  services/user/medical-mirrors/src/main.py
  services/user/medical-mirrors/src/pubmed/api.py
  services/user/medical-mirrors/src/pubmed/downloader.py
  services/user/medical-mirrors/src/pubmed/parser.py
  src/healthcare_mcp/phi_detection.py
  src/security/encryption_manager.py
  src/security/rbac_foundation.py
  tests/database_test_utils.py
  tests/healthcare_evaluation/test_critical_fixes_validation.py
  tests/healthcare_evaluation/test_phase1_infrastructure.py
  tests/test_e2e_healthcare_workflows.py
Due: healthcare-ai

feat: Enhance database population for synthetic healthcare data generation
  scripts/generate_synthetic_healthcare_data.py
Due: shell-scripts

feat: Add healthcare model registry and database models for synthetic data integration
  .gitignore
  core/models/__init__.py
  core/models/fine_tuning/.gitkeep
  core/models/healthcare.py
Due: healthcare-ai

Path conditions:
  shell-scripts: any of: scripts/
  healthcare-ai: any of: agents/, core/
