Repository Galdaer/portfolio: changes, and which Codecov flags are due for each by the changed paths.
All: shell-scripts, healthcare-ai

.codecov.yml:

# Codecov configuration for Intelluxe AI healthcare platform
# See: https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto

  ignore:
    - "test/**/*"
    - "docs/**/*"
    - "coverage/**/*"
    - "logs/**/*"
    - "data/vector_stores/**/*"
    - "data/training/user_samples/**/*"
    - "services/user/**/*"
    - "*.md"
    - "*.txt"
    - "Dockerfile*"
    - "Makefile"
    - ".env*"
    - "*.conf"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

github_checks:
  annotations: true

flags:
  shell-scripts:
    paths:
      - scripts/
    carryforward: false
  healthcare-ai:
    paths:
      - agents/
      - core/
    carryforward: false

feat: add remote agent feedback loop workflow for automated Copilot review and feedback processing
  .github/future-workflows/remote-agent-feedback-loop.yml
Due: none

Add new Python files
  core/medical/clinical_research_agent.py
  core/medical/enhanced_query_engine.py
  core/medical/search_assistant.py
Due: healthcare-ai

Test formatting
  test_format.py
Due: none

feat: Implement Clinical Research Agent with enhanced RAG capabilities
  core/medical/clinical_research_agent.md
  core/medical/enhanced_query_engine.md
  core/medical/search_assistant.md
Due: healthcare-ai

feat: Update copilot instructions with medical module development patterns and type checking best practices; remove obsolete test_format.py
  .github/copilot-instructions.md
  test_format.py
Due: none

feat: Enhance CI workflow by creating isolated Python environment for dependency management and tool installation
  .github/workflows/healthcare-ai-validation.yml
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

feat: Update bootstrap script for improved permission handling and add Ollama configuration for local AI model server
  .vscode/settings.json
  scripts/bootstrap.sh
  services/user/ollama/ollama.conf
Due: shell-scripts

fix: Ensure newline at end of file in ollama configuration and update VS Code settings for improved healthcare AI development
  .vscode/settings.json
  services/user/ollama/ollama.conf
Due: none

This is the initial commit for the mcp healthcare module.
  .vscode/settings.json
  docker/mcp-server/Dockerfile.healthcare
  mcps/healthcare/build/index.js
  mcps/healthcare/package-lock.json
  mcps/healthcare/package.json
  mcps/healthcare/src/index.ts
Due: none

Delete .vscode directory
  .vscode/settings.json
Due: none

Update .gitignore
  .gitignore
Due: none

fix: Specify package ecosystem for Dependabot updates
  .github/dependabot.yml
Due: none

fix: Improve error handling in model loading and analysis endpoints
  services/user/scispacy/app/scispacy_server.py
Due: none

fix: Optimize caching keys for Python dependencies in CI workflow
  .github/workflows/healthcare-ai-validation.yml
Due: none

fix: Enhance database connection protocol with detailed method definitions
  src/security/database_factory.py
Due: none

fix: Simplify connection creation in PostgresConnectionFactory
  src/security/database_factory.py
Due: none

Remove .vscode directory from repository and add to .gitignore
  .vscode/settings.json
Due: none

fix: Update caching strategy for Python dependencies to optimize size and speed
  .github/workflows/healthcare-ai-validation.yml
Due: none

fix: Add logging for global pip cache size in CI workflow
  .github/workflows/healthcare-ai-validation.yml
Due: none

feat: Implement production readiness checker and deployment report generator for healthcare AI
  core/medical/enhanced_query_engine.md
  core/medical/medical_response_validator.md
  core/orchestration/medical_workflow_state.md
  scripts/check-production-readiness.md
  scripts/generate-deployment-report.md
Due: shell-scripts, healthcare-ai

feat: Add HealthcareStreamlitInterface for healthcare AI interactions
  .gitignore
  interfaces/streamlit_healthcare_interface.md
Due: none

feat: Add agent configuration validation and update medical agent handling in development environment script
  .github/workflows/healthcare-ai-validation.yml
  config/agent_settings.yml
  core/medical/__init__.md
  core/medical/clinical_research_agent.md
  core/orchestration/medical_workflow_state.md
  requirements-ci.txt
  requirements.txt
  scripts/validate-dev-environment.sh
Due: shell-scripts, healthcare-ai

feat: Implement Medical Literature Search Assistant and Enhanced Query Engine
  agents/research_assistant/__init__.py
  agents/research_assistant/clinical_research_agent.py
  agents/research_assistant/search_assistant.py
  core/medical/__init__.py
  core/medical/enhanced_query_engine.py
  core/medical/medical_response_validator.py
  core/orchestration/__init__.py
  core/orchestration/medical_workflow_state.py
Due: healthcare-ai

fix: Correct typo in __all__ declaration in medical module
  core/medical/__init__.py
Due: healthcare-ai

fix: Enhance result processing in MedicalLiteratureSearchAssistant to handle exceptions and assert types
  agents/research_assistant/search_assistant.py
Due: healthcare-ai

feat: Add environment detection and healthcare security middleware with RBAC foundation
  agents/research_assistant/clinical_research_agent.py
  config/environment_detector.py
  config/healthcare_security.py
  config/rbac_foundation.py
  core/medical/__init__.py
  core/medical/enhanced_query_engine.py
  core/medical/medical_response_validator.py
  core/reasoning/__init__.py
  core/reasoning/medical_reasoning_enhanced.py
Due: healthcare-ai

feat: Enhance EnhancedMedicalReasoning with additional attributes and structured evidence collection
  core/reasoning/medical_reasoning_enhanced.py
Due: healthcare-ai

feat: Add evidence alignment and scope appropriateness checks in MedicalResponseValidator
  .githooks/pre-commit
  core/medical/medical_response_validator.py
Due: healthcare-ai

feat: Add clinical trials and guidelines search functionality with confidence scoring
  core/medical/enhanced_query_engine.py
Due: healthcare-ai

feat: Enhance medical workflow orchestration with query analysis, execution, and result formatting
  core/orchestration/medical_workflow_state.py
Due: healthcare-ai

fix: Update type hints in EnvironmentDetector for improved clarity and correctness
  config/environment_detector.py
Due: none

Fix medical reasoning implementation - Phase 1 real implementations
  core/reasoning/medical_reasoning_enhanced.py
Due: healthcare-ai

Implement final TODO - MCP server integration for tool listing
  core/orchestration/medical_workflow_state.py
Due: healthcare-ai

feat: Implement general medical inquiry processing in ClinicalResearchAgent
  agents/research_assistant/clinical_research_agent.py
Due: healthcare-ai

feat: Update medical module development patterns for Phase 1 real implementations
  .github/copilot-instructions.md
Due: none
