Repository Galdaer/portfolio: changes, and which Codecov flags are due for each by the changed paths.
All: shell-scripts, healthcare-ai

.codecov.yml:

# Codecov configuration for Intelluxe AI healthcare platform
# See: https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto

  ignore:
    - "test/**/*"
    - "docs/**/*"
    - "coverage/**/*"
    - "logs/**/*"
    - "data/vector_stores/**/*"
    - "data/training/user_samples/**/*"
    - "services/user/**/*"
    - "*.md"
    - "*.txt"
    - "Dockerfile*"
    - "Makefile"
    - ".env*"
    - "*.conf"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

github_checks:
  annotations: true

flags:
  shell-scripts:
    paths:
      - scripts/
    carryforward: false
  healthcare-ai:
    paths:
      - agents/
      - core/
    carryforward: false

feat: Implement comprehensive healthcare database integration patterns for testing and development
  .github/copilot-instructions.md
  .github/instructions/tasks/database-development.instructions.md
  .github/instructions/tasks/testing.instructions.md
Due: none

feat: Add Medical Mirrors service commands to Makefile and update requirements
  Makefile
  services/user/medical-mirrors/requirements.txt
Due: none

Enhance PubMed and FDA data processing with multi-core optimization and improved error handling
  .github/copilot-instructions.md
  .github/instructions/patterns/healthcare-ftp-connections.instructions.md
  .github/instructions/tasks/medical-mirrors-troubleshooting.instructions.md
  .github/instructions/tasks/performance.instructions.md
  .gitignore
  Makefile
  services/user/medical-mirrors/migrate_schema.py
  services/user/medical-mirrors/src/clinicaltrials/api.py
  services/user/medical-mirrors/src/clinicaltrials/downloader.py
  services/user/medical-mirrors/src/clinicaltrials/parser.py
  services/user/medical-mirrors/src/config.py
  services/user/medical-mirrors/src/database.py
  services/user/medical-mirrors/src/fda/api.py
  services/user/medical-mirrors/src/fda/downloader.py
  services/user/medical-mirrors/src/fda/parser.py
  services/user/medical-mirrors/src/main.py
  services/user/medical-mirrors/src/pubmed/api.py
  services/user/medical-mirrors/src/pubmed/api_optimized.py
  services/user/medical-mirrors/src/pubmed/downloader.py
  services/user/medical-mirrors/src/pubmed/parser.py
  services/user/medical-mirrors/src/pubmed/parser_optimized.py
  services/user/medical-mirrors/test_multicore.py
Due: none

fix: Correct import path for OllamaModel in healthcare evaluation script
  scripts/healthcare_deepeval.py
Due: shell-scripts

Refactor and optimize medical mirrors service
  Makefile
  services/user/medical-mirrors/migrate_schema.py
  services/user/medical-mirrors/pyrightconfig.json
  services/user/medical-mirrors/src/__init__.py
  services/user/medical-mirrors/src/clinicaltrials/__init__.py
  services/user/medical-mirrors/src/clinicaltrials/api.py
  services/user/medical-mirrors/src/clinicaltrials/downloader.py
  services/user/medical-mirrors/src/clinicaltrials/parser.py
  services/user/medical-mirrors/src/config.py
  services/user/medical-mirrors/src/database.py
  services/user/medical-mirrors/src/fda/__init__.py
  services/user/medical-mirrors/src/fda/api.py
  services/user/medical-mirrors/src/main.py
  services/user/medical-mirrors/src/pubmed/__init__.py
  services/user/medical-mirrors/src/pubmed/api.py
  services/user/medical-mirrors/src/pubmed/api_optimized.py
  services/user/medical-mirrors/src/pubmed/downloader.py
  services/user/medical-mirrors/src/pubmed/parser_optimized.py
  services/user/medical-mirrors/test_multicore.py
Due: none

Enhance Copilot instructions with anti-analysis-paralysis guidelines to encourage immediate action on identified issues
  .github/copilot-instructions.md
Due: none

feat: Enhance security configurations and linting rules for healthcare AI, including stricter checks for PHI protection and medical data processing
  bandit.yml
  mypy.ini
  pyproject.toml
Due: none

Refactor healthcare code review and logging instructions for improved compliance and clarity
  .github/instructions/tasks/code-review.instructions.md
  .github/instructions/tasks/healthcare-logging.instructions.md
  .github/instructions/tasks/medical-mirrors-troubleshooting.instructions.md
Due: none

refactor: Remove redundant healthcare-specific security and linting configurations from bandit and mypy; streamline pyproject.toml for improved clarity and maintainability
  bandit.yml
  mypy.ini
  pyproject.toml
Due: none

fix: Simplify billed amount handling in BillingHelperAgent by removing unnecessary decimal conversion
  agents/billing_helper/billing_agent.py
Due: healthcare-ai

refactor: Enhance HealthcareLogRecord to include healthcare context and PHI detection flags; improve HealthcareFormatter documentation
  core/infrastructure/healthcare_logger.py
Due: healthcare-ai

fix: Simplify database connection retrieval in get_database_connection; remove async context manager for improved clarity
  core/dependencies.py
Due: healthcare-ai

refactor: Optimize PHI detection in SimplePHIDetector by pre-compiling regex patterns for improved performance
  core/security/chat_log_manager.py
Due: healthcare-ai

fix: Improve logging for unexpected tools response format and update CORS configuration for Open WebUI integration
  mcps/healthcare/auth_proxy.py
Due: none

refactor: Enhance migration script documentation and improve database schema handling for PubMed articles
  services/user/medical-mirrors/migrate_schema.py
  services/user/medical-mirrors/src/database.py
  services/user/medical-mirrors/src/main.py
  src/development/ai_assistant_config.py
  src/development/healthcare_code_patterns.py
  src/healthcare_mcp/phi_detection.py
  src/security/encryption_manager.py
  tests/database_test_utils.py
  tests/test_e2e_healthcare_workflows.py
Due: none

fix: Update import statements to use relative imports for Config in downloader modules
  services/user/medical-mirrors/src/__init__.py
  services/user/medical-mirrors/src/clinicaltrials/downloader.py
  services/user/medical-mirrors/src/pubmed/downloader.py
Due: none

refactor: Update healthcare AI instructions to enforce anti-infinite-loop principles and clarify implementation patterns across various modules
  .github/copilot-instructions.md
  .github/instructions/README.md
  .github/instructions/ai/embedding-optimization-healthcare.instructions.md
  .github/instructions/ai/ml-operations-healthcare.instructions.md
  .github/instructions/ai/prompt-engineering-clinical.instructions.md
  .github/instructions/tasks/code-review.instructions.md
  .github/instructions/tasks/healthcare-logging.instructions.md
  .github/instructions/tasks/medical-mirrors-troubleshooting.instructions.md
Due: none

feat: Add setup and migration scripts for 4TB external drive configuration for medical data
  docs/EXTERNAL_DRIVE_SETUP_GUIDE.md
  scripts/migrate_medical_data.sh
  scripts/setup_external_drive.sh
Due: shell-scripts

fix: Update settings to exclude additional database directories and configure medical data path for external drive
  .vscode/settings.json
Due: none

fix: Correct port configuration and healthcheck URLs in service configuration files
  services/user/ollama-webui/ollama-webui.conf
  services/user/postgresql/postgresql.conf
  services/user/traefik/traefik.conf
Due: none

fix: Remove duplicate import of contextlib in encryption validation tests
  tests/security/test_encryption_validation.py
Due: none

feat: Add MyPy configuration for Healthcare AI Medical Mirrors Service
  services/user/medical-mirrors/mypy.ini
Due: none

fix: Update medical-mirrors configuration for image and port settings
  services/user/medical-mirrors/medical-mirrors.conf
Due: none

feat(parser): Add script to parse downloaded medical archives
  Makefile
  scripts/download_full_medical_archives.py
  scripts/parse_downloaded_archives.py
  services/user/medical-mirrors/medical-mirrors.conf
  services/user/medical-mirrors/src/__init__.py
  services/user/medical-mirrors/src/clinicaltrials/api.py
  services/user/medical-mirrors/src/clinicaltrials/downloader.py
  services/user/medical-mirrors/src/database.py
  services/user/medical-mirrors/src/fda/api.py
  services/user/medical-mirrors/src/fda/downloader.py
  services/user/medical-mirrors/src/fda/parser.py
  services/user/medical-mirrors/src/main.py
  services/user/medical-mirrors/src/pubmed/api.py
  services/user/medical-mirrors/src/pubmed/api_optimized.py
  services/user/medical-mirrors/src/pubmed/downloader.py
  services/user/medical-mirrors/src/pubmed/parser.py
  services/user/medical-mirrors/src/pubmed/parser_optimized.py
Due: shell-scripts

fix: Update data volume paths in Makefile and configuration files for medical mirrors
  Makefile
  scripts/download_full_medical_archives.py
  scripts/fix_medical_download_urls.py
  services/user/medical-mirrors/medical-mirrors.conf
Due: shell-scripts

fix: Update response handling to specify expected data structure in ClinicalTrials, FDA, and PubMed classes
  .github/copilot-instructions.md
  .github/instructions/tasks/medical-data-pipeline-management.instructions.md
  .github/instructions/tasks/medical-data-source-investigation.instructions.md
  .github/instructions/tasks/medical-data-troubleshooting.instructions.md
  mcps/healthcare/auth_proxy.py
  mcps/healthcare/src/server/connectors/medical/ClinicalTrials.ts
  mcps/healthcare/src/server/connectors/medical/FDA.ts
  mcps/healthcare/src/server/connectors/medical/PubMed.ts
  scripts/fix_medical_download_urls.py
  services/user/ollama-webui/ollama-webui.conf
Due: shell-scripts

feat: Add Healthcare MCP Pipeline Server with FastAPI integration
  .env
  MCP_pipeline.py
  Makefile
  docs/MCP_PIPELINE_VERIFICATION.md
  docs/OPEN_WEBUI_MCP_TEST_CASES.md
  interfaces/open_webui/MCP_pipeline.py
  interfaces/open_webui/README.md
  interfaces/open_webui/mcp_config.json
  mcps/healthcare/Dockerfile
  mcps/healthcare/package.json
  mcps/healthcare/src/index.ts
  mcps/healthcare/src/server/HealthcareServer.ts
  mcps/healthcare/src/server/connectors/medical/PubMed.ts
  mcps/healthcare/src/server/constants/tools.ts
  mcps/healthcare/src/server/handlers/ToolHandler.ts
  mcps/healthcare/src/stdio_entry.ts
  mcps/healthcare/start_services.sh
  pipeline_server.py
  scripts/bootstrap.sh
  scripts/mcp_stdio_probe.py
  scripts/test_mcp_pipeline.sh
  scripts/test_mcp_tools.sh
  services/user/healthcare-mcp-stdio/healthcare-mcp-stdio.conf
  services/user/healthcare-mcp/healthcare-mcp.conf
  services/user/mcp-pipeline/Dockerfile
  services/user/mcp-pipeline/data/mcp_config.json
  services/user/mcp-pipeline/mcp-pipeline.conf
  services/user/mcp-pipeline/pipelines/MCP_pipeline.py
  services/user/mcp-pipeline/pipelines/pipeline_server.py
  services/user/mcp-pipeline/requirements.txt
  services/user/mcp-pipeline/start_pipeline.sh
  services/user/ollama-webui/ollama-webui.conf
  simple_mcp_test.py
  test_open_webui_mcp.py
  tests/test_open_webui_mcp.py
Due: shell-scripts

refactor: Remove obsolete authentication proxy files and requirements
  mcps/healthcare/auth_proxy.py
  mcps/healthcare/auth_proxy_direct.py
  mcps/healthcare/auth_proxy_dynamic.py
  mcps/healthcare/auth_proxy_requirements.txt
  mcps/healthcare/start_services.sh
Due: none

feat: Refactor healthcare API to utilize MCP stdio protocol and enhance model configuration
  services/user/healthcare-api/Dockerfile
  services/user/healthcare-api/agents/research_assistant/clinical_research_agent.py
  services/user/healthcare-api/config/app.py
  services/user/healthcare-api/config/models.yml
  services/user/healthcare-api/core/config/__init__.py
  services/user/healthcare-api/core/config/models.py
  services/user/healthcare-api/core/dependencies.py
  services/user/healthcare-api/core/infrastructure/health_monitoring.py
  services/user/healthcare-api/core/mcp/healthcare_mcp_client.py
  services/user/healthcare-api/core/medical/enhanced_query_engine.py
  services/user/healthcare-api/core/medical/medical_response_validator.py
  services/user/healthcare-api/core/orchestration/medical_workflow_state.py
  services/user/healthcare-api/core/tools/__init__.py
  services/user/healthcare-api/healthcare-api.conf
  services/user/healthcare-api/main.py
  services/user/healthcare-api/src/healthcare_mcp/secure_mcp_server.py
Due: none

fix: Refactor MCP integration architecture for improved routing and client handling
  .github/copilot-instructions.md
  .github/instructions/mcp-development.instructions.md
  .github/instructions/patterns/thin-mcp-pipeline.instructions.md
  .github/instructions/workflows/agent-coordination.instructions.md
  ARCHITECTURE_FIX_SUMMARY.md
  services/user/healthcare-api/core/dependencies.py
  services/user/healthcare-api/core/mcp/healthcare_mcp_client.py
  services/user/healthcare-api/main.py
  services/user/healthcare-mcp/src/index.ts
  services/user/mcp-pipeline/pipelines/MCP_pipeline.py
Due: none

feat: Enhance MCP Pipeline for stdio communication with healthcare-api
  services/user/healthcare-api/agents/research_assistant/clinical_research_agent.py
  services/user/healthcare-api/core/dependencies.py
  services/user/healthcare-api/core/tools/__init__.py
  services/user/healthcare-api/healthcare-api.conf
  services/user/healthcare-api/main.py
  services/user/mcp-pipeline/Dockerfile
  services/user/mcp-pipeline/data/mcp_config.json
  services/user/mcp-pipeline/mcp-pipeline.conf
  services/user/mcp-pipeline/pipelines/MCP_pipeline_new.py
  services/user/mcp-pipeline/requirements.txt
Due: none

feat: Refactor healthcare agent architecture for improved clarity and separation of concerns
  .github/copilot-instructions.md
  .github/instructions/domains/healthcare.instructions.md
  .github/instructions/mcp-development.instructions.md
  .github/instructions/patterns/healthcare-api-orchestration.instructions.md
  .github/instructions/patterns/thin-mcp-pipeline.instructions.md
  .github/instructions/tasks/testing.instructions.md
  .github/instructions/workflows/agent-coordination.instructions.md
Due: none

cleanup copilot doc
  .github/copilot-instructions.md
  ARCHITECTURE_FIX_SUMMARY.md
Due: none

Refactor healthcare-api to use FastAPI and HTTP communication
  services/user/healthcare-api/agents/__init__.py
  services/user/healthcare-api/agents/billing_helper/billing_agent.py
  services/user/healthcare-api/agents/clinical_research_agent/.gitkeep
  services/user/healthcare-api/agents/clinical_research_agent/__init__.py
  services/user/healthcare-api/agents/clinical_research_agent/ai-instructions.md
  services/user/healthcare-api/agents/clinical_research_agent/clinical_research_agent.py
  services/user/healthcare-api/agents/clinical_research_agent/router.py
  services/user/healthcare-api/agents/insurance/insurance_agent.py
  services/user/healthcare-api/agents/medical_search_agent/__init__.py
  services/user/healthcare-api/agents/medical_search_agent/ai-instructions.md
  services/user/healthcare-api/agents/medical_search_agent/medical_search_agent.py
  services/user/healthcare-api/agents/medical_search_agent/router.py
  services/user/healthcare-api/agents/research_assistant/__init__.py
  services/user/healthcare-api/agents/scheduling_optimizer/scheduling_agent.py
  services/user/healthcare-api/agents/transcription/transcription_agent.py
  services/user/healthcare-api/core/infrastructure/phi_monitor.py
  services/user/healthcare-api/core/orchestration/medical_workflow_state.py
  services/user/healthcare-api/healthcare-api.conf
  services/user/healthcare-api/main.py
  services/user/mcp-pipeline/pipelines/MCP_pipeline.py
Due: none

fix: Update medical-mirrors configuration and enhance FDA parser for improved data handling
  services/user/medical-mirrors/medical-mirrors.conf
  services/user/medical-mirrors/src/database.py
  services/user/medical-mirrors/src/fda/parser.py
Due: none

chore: Remove obsolete log files to clean up the repository
  .gitignore
  logs/agent_document_processor.log
  logs/agent_intake.log
  logs/agent_research_assistant.log
  logs/audit_trail.log
  logs/healthcare_deepeval.log
  logs/healthcare_system.log
  logs/lib.log
  logs/phi_monitoring.log
Due: none

feat: Update SciSpacy model to en_ner_bionlp13cg_md for enhanced medical entity recognition
  services/user/scispacy/app/entrypoint.sh
  services/user/scispacy/app/scispacy_server.py
  services/user/scispacy/scispacy.conf
Due: none
