Repository Galdaer/portfolio: changes, and which Codecov flags are due for each by the changed paths.
All: shell-scripts, healthcare-ai

.codecov.yml:

# Codecov configuration for Intelluxe AI healthcare platform
# See: https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto

  ignore:
    - "test/**/*"
    - "docs/**/*"
    - "coverage/**/*"
    - "logs/**/*"
    - "data/vector_stores/**/*"
    - "data/training/user_samples/**/*"
    - "services/user/**/*"
    - "*.md"
    - "*.txt"
    - "Dockerfile*"
    - "Makefile"
    - ".env*"
    - "*.conf"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

github_checks:
  annotations: true

flags:
  shell-scripts:
    paths:
      - scripts/
    carryforward: false
  healthcare-ai:
    paths:
      - agents/
      - core/
    carryforward: false

feat: Enhance healthcare validation workflow and improve medical orchestration imports
  .github/workflows/healthcare-ai-validation.yml
  core/medical/__init__.py
  core/orchestration/__init__.py
Due: healthcare-ai

fix: Update server port configuration and enhance package scripts for development
  .env.example
  mcps/healthcare/package.json
Due: none

feat: Update healthcare MCP configuration and documentation for practice-level API keys and standalone authentication
  .env.example
  docs/AUTHENTICATION_INTEGRATION.md
  docs/PRACTICE_DEPLOYMENT.md
  mcps/healthcare/src/index.ts
  services/user/healthcare-mcp/healthcare-mcp.conf
Due: none

feat: Add MCP server build commands and Dockerfile for healthcare AI workflows
  Makefile
  mcps/healthcare/Dockerfile
  mcps/healthcare/src/index.ts
Due: none

chore: Remove augment directory from .gitignore to clean up ignored files
  .gitignore
Due: none

feat: Add pre-push validation script for development checks
  .env.example
  .githooks/pre-push.disabled
Due: none

chore: Remove pre-push validation script to streamline development process
  .githooks/pre-push.disabled
Due: none

chore: Clean up .gitignore by removing unnecessary comments and organizing sections
  .gitignore
Due: none

fix: Update configuration for Open WebUI with new image, port, and environment variables
  services/user/ollama-webui/ollama-webui.conf
Due: none

feat: Add PostgreSQL and Redis configuration files for healthcare services
  services/user/postgresql/postgresql.conf
  services/user/redis/redis.conf
Due: none

feat: Enhance synthetic healthcare data documentation with generation commands and testing strategies
  .github/copilot-instructions.md
Due: none

feat: Implement comprehensive synthetic healthcare data generator with database support
  scripts/generate_synthetic_healthcare_data.py
Due: shell-scripts

feat: Add synthetic healthcare data validation job to CI workflow
  .github/workflows/healthcare-ai-validation.yml
Due: none

fix: Exclude large synthetic datasets from version control
  .gitignore
Due: none

feat: Add synthetic healthcare data generation and management commands to Makefile
  Makefile
Due: none

Test pre-commit hook formatting
  scripts/healthcare_deepeval.py
Due: shell-scripts

fix: Update file permissions for synthetic healthcare data generator script
  scripts/generate_synthetic_healthcare_data.py
Due: shell-scripts

refactor: Update Ollama model integration and improve metric initialization for healthcare AI testing
  scripts/healthcare_deepeval.py
Due: shell-scripts

fix: Correct import paths for PHIDetector and HealthcareAuditLogger in healthcare_security.py
  src/security/healthcare_security.py
Due: none

fix: Exclude system binaries from security checks in systemd-verify script
  scripts/systemd-verify.sh
Due: shell-scripts

docs: Update Phase 0 checklist to mark completion of new infrastructure features
  docs/PHASE_0.md
Due: none

fix: Update environment checks in bootstrap and systemd-verify scripts for development context
  scripts/bootstrap.sh
  scripts/systemd-verify.sh
Due: shell-scripts

fix: Enhance healthcare AI agent with improved patient data extraction and MCP server verification
  scripts/healthcare_deepeval.py
Due: shell-scripts

test: Add Phase 1 healthcare AI infrastructure tests for enhanced evaluation
  Makefile
  tests/healthcare_evaluation/test_phase1_infrastructure.py
Due: none

Changes made to implement the mcp server functions
  mcps/healthcare/package-lock.json
  mcps/healthcare/src/index - before server updates.ts
  mcps/healthcare/src/index.ts
  mcps/healthcare/src/server/HealthcareServer - before server updates.ts
  mcps/healthcare/src/server/handlers/ToolHandler.ts
  mcps/package-lock.json
Due: none

Add comprehensive guidelines for medical data preservation and type safety
  .github/copilot-instructions.md
Due: none

Refactor infrastructure validation workflow to include timeout protections and improve logging for better error handling
  .github/workflows/healthcare-ai-validation.yml
Due: none

Enhance type annotations for research stages and query parameters in literature research method
  agents/research_assistant/clinical_research_agent.py
Due: healthcare-ai

Refactor condition extraction and relevance scoring in MedicalLiteratureSearchAssistant for improved type safety and clarity
  agents/research_assistant/search_assistant.py
Due: healthcare-ai

Enhance environment validation in bootstrap script with auto-detection for CI and production settings
  scripts/bootstrap.sh
Due: shell-scripts

Enhance type annotations for data storage attributes in SyntheticHealthcareDataGenerator for improved clarity and type safety
  scripts/generate_synthetic_healthcare_data.py
Due: shell-scripts

Enhance type annotations and improve clarity in HealthcareAITester and related methods
  scripts/healthcare_deepeval.py
Due: shell-scripts

Refactor imports and enhance code formatting for improved readability in rbac_foundation.py
  src/security/rbac_foundation.py
Due: none

Add missing healthcare AI evaluation and coverage tests to validation workflow
  .github/workflows/healthcare-ai-validation.yml
Due: none

Improve copay amount formatting in process_healthcare_query_with_context function
  scripts/healthcare_deepeval.py
Due: shell-scripts

Refactor .dockerignore for optimized e2e testing and improved clarity
  .dockerignore
Due: none

Enhance CI environment setup for End-to-End bootstrap testing with improved logging and validation
  .github/workflows/healthcare-ai-validation.yml
Due: none
